langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pandas
python-docx
docx2txt
unstructured[docx]
openpyxl
jq
matplotlib
pipeline
wikipedia
beautifulsoup4
lxml

## Embedding libraries
langchain-huggingface
langchain-experimental

rank_bm25
