langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-openai
langchain-groq
arxiv
wikipedia
Wikipedia-API
langgraph-cli[inmem]



langchain-huggingface
sentence-transformers
faiss-cpu